<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TesteInjecaoVariavelWebXML</display-name>
  
  
  <env-entry>
     <env-entry-name>env/dollarPrice</env-entry-name>
     <env-entry-type>java.lang.Double</env-entry-type>
     <env-entry-value>105.55</env-entry-value>
  </env-entry>
  
  <jsp-config>
    <jsp-property-group>
       <display-name>jspConfig</display-name>
       <url-pattern>/*</url-pattern>
       <scripting-invalid>true</scripting-invalid>
       <default-content-type>text/html</default-content-type>
    </jsp-property-group>
  </jsp-config>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>